.logo-container {
    z-index: 0;
    width: 800px;
    height: 409px;
    position: absolute;
    top: 85px;
    right: 45%;
    bottom: 0;
    left: auto;
    opacity: 1;
    z-index: -1;

    svg{
        width: 100%;
        height: auto;
        bottom: 0;
        z-index: -1;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 70%;
        margin: auto;
        width: 100%;
        .fadeIn{ animation: fade 10s; }
        z-index: 1;
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
    }
}

.svg-container{
    stroke: #C8C6C6;
    stroke-width: 10px;
}